# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# FastAPI specific
.env
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# Virtual environment
venv/
.venv/
.env/

# macOS
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# VSCode
.vscode/
